* {
    margin: 0;
}

.list {
    list-style: none;
}

.list li {
    display: inline-block;
    padding: 0px 20px;
}

.list li a:hover {
    color: darkorchid;
}

a {
    font-weight: bold;
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
}

h1, li, button {
    font-weight: bold;
    font-size: 25px;
    color: antiquewhite;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: gray;
}

button {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 10px 25px;
    background-color: black;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    color: rgb(41, 228, 218);
}
